@charset "utf-8";
/* CSS Document */

/* 
red : #c30101
border-red : #940000
grey : #727272
blue : #8eace6
border-blue : #118ab2 
green : #40A578
green-border : #006769
*/

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.back {
  margin-left: 8px;
  margin-top: 0px;
  outline: none;
  border: #adadad;
  padding: none;
  background: #ffffff;
}

.container {
  background: #ffffff;
  border: 0px solid #e0dcdd;
  min-width: 280px;
  width: 285px;
  margin: 5px;
  color: #8d8d8d;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.content {
  padding-left: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  min-width: 187px;
  float: left;
  padding-top: 0px;
  color: #59474e;
  padding-bottom: 0.2rem;
}

#slot1 {
  padding-top: 2px;
  padding-left: 9px;
  height: 35px;
}

#slot1:hover {
  cursor: hand;
  cursor: pointer;
  background: #ebebeb;
}

.slot {
  padding-left: 9px;
  position: relative;
  padding-top: 2px;
  top: -7px;
}

.button {
  cursor: pointer;
  padding-right: 1rem;
  border-right: 2px solid #c9c9c9;
}

.button-proxy {
  min-width: 187px;
  display: flex;
  align-items: center;
  margin-top: 0;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid #c9c9c9;
  border-top: 2px solid #c9c9c9;
}

.button-proxy .button img {
  width: 6rem;
  height: 3.5rem;
}

.yes-no img {
  width: 30px;
  height: 30px;
}

.sym-hidden-reflex-proxy-popup-inner {
  order: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding-left: 1rem;
}
.toggle-item-yes-no {
  display: flex;
  align-items: center;
}
.toggle-item-button {
  cursor: pointer;
}
.toggle-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure items are spaced properly */
  width: 100%;
  margin-right: 18px;
}
.toggle-item-button img {
  width: 2rem;
  height: 1rem;
}

.proxy-text {
  margin: 5px 0;
}

#link-whitelisted-sites {
  text-decoration: underline;
}

/* .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
}

#plugins_Y {
  background-color: green;
}

#plugins_N {
  background-color: red;
  display: none;
}

.active {
  display: block;
} */

/*testing stuff below*/

h2 {
  color: #727272;
  font-weight: normal;
  font-size: 14px;
}
fieldset .fieldset-item {
  border: 1px solid #8eace6;
  margin-bottom: -17px; /* Reduce the space between items */
  border-radius: 0.5rem;
}

label {
  vertical-align: middle;
  line-height: 1;
}

input[type="radio"] {
  float: right;
  width: 25px;
  height: 25px;
  vertical-align: top;
  border-color: #8eace6;
}

.radio-input:checked + .fieldset-item::after {
  border: 3px solid #118ab2;
}

/*testing stuff above*/

/*test below */
/*

/*testing above
below code works but on off are bit simple*/

.icon {
  float: left;
  padding-top: 3px;
}

.button {
  padding-top: 2px;
}

.sethr {
  position: relative;
  width: 100%;
}
/* trigger button */
a.tooltip {
  outline: none;
}
a.tooltip strong {
  line-height: 30px;
}
a.tooltip:hover {
  text-decoration: none;
}
a.tooltip span {
  z-index: 10;
  display: none;
  padding: 1px 20px;
  margin-top: 20px;
  margin-left: -192px;
  width: 240px;
}
a.tooltip:hover span {
  display: inline;
  position: absolute;
  color: #111;
  border: 1px solid #dca;
  background: #fffaf0;
  bottom: 50%;
  left: 67%;
}
.callout {
  z-index: 20;
  position: absolute;
  top: 3px;
  border: 0;
  left: -10px;
}

/*CSS3 extras*/
a.tooltip span {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  -moz-box-shadow: 5px 5px 8px #ccc;
  -webkit-box-shadow: 5px 5px 8px #ccc;
  box-shadow: 5px 5px 8px #ccc;
}

/* #agad - custom css  */

/* .sym-hidden-reflex-proxy-popup-inner {
  display: inline-block;
  background: #fff;
  padding: 0;
  padding-top: 4px;
}

.sym-proxy-whitelist {
  padding: 5px;
  background-color: #fff;
  display: inline-block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  border-image: initial;
}

.div-block-195 {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.proxy-text {
  color: #333;
  font-size: 13px;
}

.proxy-text.mr-2 {
  margin-right: 2px;
}

.proxy-text.ml-2 {
  margin-left: 2px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-5.flex-hori {
  display: flex;
  align-items: center;
}

#link-whitelisted-sites {
  display: block;
  padding: 0.5rem;
  text-align: center;
  color: #8d8d8d;
  font-size: small;
  text-decoration: underline;
}

.toggle-item {
  display: flex;
  align-items: center;
  margin-left: 10px; 

.toggle-item-yes-no {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 80px; 
  background-color: red; 
  border-radius: 0.3rem;
  position: relative;
  transition: background-color 0.3s ease;
  height: 30px; 
  overflow: hidden;
}

.toggle-item-button {
  width: 40px;
  text-align: center;
  padding: 5px 0;
  border-radius: 15px;
  color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proxy-text {
  color: red; 
  font-weight: bold; 
  font-size: 16px; 
}

.toggle-item-button div {
  font-weight: bold; 
  font-size: 16px; 
  padding-bottom: 0.7rem;
}

.toggle-item-button.toggle-on {
  left: 0;
  background-color: green;

  display: none;
}

.toggle-item-button.toggle-off {
  left: 40px;
  background-color: red;
}

.active .toggle-on {
  display: block;
  border: 0.3rem solid #144a00;
}

.active .toggle-off {
  display: none;
}


.toggle-slide {
  transform: translateX(0);
} */

/* ********************** */

/* .domain-title-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.domain-title-sub {
  color: #aaa;
  font-size: 14px;
}

.domain-title-content {
  margin-left: 5px;
  color: #333;
  font-size: 14px;
}

.link-normal {
  color: #333;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
}

.link-normal:hover {
  color: #2e83e6;
}

.sym-hidden-reflex-proxy-popup {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  color: #333;
}

.mb5 {
  margin-bottom: 5px;
}

.mb5.flex1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mt5 {
  margin-top: 5px;
}

.section-site-toggle {
  width: 50px;
  height: 30px;
}

.toggle-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  padding: 2px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.toggle-item:hover {
  background-color: rgba(224, 224, 230, 0.5);
}

.toggle-item-label-text {
  color: #333;
  font-size: 13px;
  font-weight: 400;
}

.toggle-item-yes-no {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.toggle-item-button {
  padding: 2px 4px;
}

.toggle-item-button.unselected {
  font-weight: 300;
  cursor: pointer;
}

.toggle-item-button.unselected:hover {
  border-radius: 6px;
  background-color: #fff;
}

.toggle-item-button.selected {
  font-weight: 600;
}

.sym-proxy-whitelist {
  padding: 5px;
  border: 2px solid silver;
  background-color: #fff;
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

.div-block-195 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.proxy-text {
  color: #7c7c7c;
  font-size: 13px;
}

.proxy-text.mr-2 {
  margin-right: 2px;
}

.proxy-text.ml-2 {
  margin-left: 2px;
}
.ml-5 {
  margin-left: 5px;
}

.ml-5.flex-hori {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sym-hidden-reflex-proxy-popup-inner {
  width: 100%;
  background: #fff;
  padding: 0px;
  padding-top: 4px;
}

.sym-hidden-reflex-proxy-popup-inner .toggle-item:hover {
  background-color: #e4e0d8;
} */
