@charset "utf-8";
/* CSS Document */

/* 
red : #c30101
border-red : #940000
grey : #727272
blue : #8eace6
border-blue : #118ab2 
green : #40A578
green-border : #006769
*/

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.back {
  margin-left: 8px;
  margin-top: 0px;
  outline: none;
  border: #adadad;
  padding: none;
  background: #ffffff;
}

.container {
  background: #ffffff;
  border: 0px solid #e0dcdd;
  min-width: 280px;
  width: 285px;
  margin: 5px;
  color: #8d8d8d;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.content {
  padding-left: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  min-width: 187px;
  float: left;
  padding-top: 0px;
  color: #59474e;
  padding-bottom: 0.2rem;
}

#slot1 {
  padding-top: 2px;
  padding-left: 9px;
  height: 35px;
}

#slot1:hover {
  cursor: hand;
  cursor: pointer;
  background: #ebebeb;
}

.slot {
  padding-left: 9px;
  position: relative;
  padding-top: 2px;
  top: -7px;
}

.button {
  cursor: pointer;
  padding-right: 1rem;
  border-right: 2px solid #c9c9c9;
}

.button-proxy {
  min-width: 187px;
  display: flex;
  align-items: center;
  margin-top: 0;
  height: 5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid #c9c9c9;
  border-top: 3px solid #c9c9c9;
}

.button-proxy .button img {
  width: 6rem;
  height: 3.5rem;
}

.yes-no img {
  width: 30px;
  height: 30px;
}

.sym-hidden-reflex-proxy-popup-inner {
  order: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding-left: 1rem;
}
.toggle-item-yes-no {
  display: flex;
  align-items: center;
}
.toggle-item-button {
  cursor: pointer;
}
.toggle-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure items are spaced properly */
  width: 100%;
  margin-right: 18px;
}
.toggle-item-button img {
  width: 2rem;
  height: 1rem;
}

.proxy-text {
  margin: 5px 0;
}

#link-whitelisted-sites {
  text-decoration: underline;
}

/* .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
}

#plugins_Y {
  background-color: green;
}

#plugins_N {
  background-color: red;
  display: none;
}

.active {
  display: block;
} */

/*testing stuff below*/

h2 {
  color: #727272;
  font-weight: normal;
  font-size: 14px;
}
fieldset .fieldset-item {
  border: 1px solid #8eace6;
  margin-bottom: -1rem; /* Reduce the space between items */
  border-radius: 0.5rem;
}

label {
  vertical-align: middle;
  line-height: 1;
}

input[type="radio"] {
  float: right;
  width: 25px;
  height: 25px;
  vertical-align: top;
  border-color: #8eace6;
}

.radio-input:checked + .fieldset-item::after {
  border: 3px solid #118ab2;
}

/*testing stuff above*/

/*test below */
/*

/*testing above
below code works but on off are bit simple*/

.icon {
  float: left;
  padding-top: 3px;
}

.button {
  padding-top: 2px;
}

.sethr {
  position: relative;
  width: 100%;
}
/* trigger button */
a.tooltip {
  outline: none;
}
a.tooltip strong {
  line-height: 30px;
}
a.tooltip:hover {
  text-decoration: none;
}
a.tooltip span {
  z-index: 10;
  display: none;
  padding: 1px 20px;
  margin-top: 20px;
  margin-left: -192px;
  width: 240px;
}
a.tooltip:hover span {
  display: inline;
  position: absolute;
  color: #111;
  border: 1px solid #dca;
  background: #fffaf0;
  bottom: 5%;
  left: 67%;
}
.callout {
  z-index: 20;
  position: absolute;
  top: 3px;
  border: 0;
  left: -10px;
}

/*CSS3 extras*/
a.tooltip span {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  -moz-box-shadow: 5px 5px 8px #ccc;
  -webkit-box-shadow: 5px 5px 8px #ccc;
  box-shadow: 5px 5px 8px #ccc;
}
